.markdown-wrapper {
  position: relative;
  padding: 0 1rem;
}

.date {
  margin-top: -2rem;
  margin-bottom: 0.5rem;
  color: var(--color-text1);
  font-size: 0.9rem;
}

.category-wrapper {
  display: flex;
  margin: -0.5rem;
  margin-bottom: 1rem;
}

.category {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  border-radius: 10%;
  margin: 0.5rem;
  background: #cee8f2;
  color: var(--color-text1);
  font-size: 0.9rem;
}

.cover-image {
  position: relative;
  width: 100%;
  min-height: 10rem;
}

.cover-image img {
  position: relative !important;
  height: auto !important;
  max-height: 50vw;
  object-fit: contain;
}

.related {
  display: flex;
  margin: 0 -1rem 5rem;
}

.related-title {
  margin-top: 4rem;
}

.related-card {
  width: calc(33% - 2rem);
  border: 1px solid var(--color-border1);
  border-radius: 5px;
  margin: 1rem;
}

.related-card-title {
  width: calc(100% - 2rem);
  margin: 1rem 1rem 0.5rem;
  font-weight: 600;
}

.related-card-exercpt {
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem 1rem;
  font-weight: 300;
  overflow-x: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (width >= 768px) {
  .markdown-wrapper {
    width: 768px;
    margin: auto;
  }

  .cover-image img {
    max-height: 30vw;
  }
}