* {
  --padding-md: 15px;
  --header-height: 65px;
  --padding-sm: 10px;
  --padding-lg: 30px;
  
  margin: 0;
}

html, body {
  max-width: 100%;
  min-height: 100vh;
  background: ghostwhite;
  font-size: 1rem;
}