.header {
  display: flex;
  height: 70px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-md);
  border-bottom: 0.01em solid aliceblue;
  margin: 0;
  background: lightsteelblue;
  box-shadow: 0 1px 1px 0 lightgray;
  color: #010101;
}

.header-logo {
  color: #010101;
  font-size: 2rem;
  text-decoration: none;
  user-select: none;
}