.header {
  display: flex;
  height: 70px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
  background: var(--color-primary);
  box-shadow: 0 1px 1px 0 var(--color-border1);
  color: var(--color-text1);
}

.floating {
  position: fixed;
  z-index: 999999;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}